<activity
    android:name=".MainActivity"
    android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|smallestScreenSize|density"
    android:exported="true"
    android:theme="@style/Theme.SpoonGecko"
    android:windowSoftInputMode="stateUnspecified|adjustResize">
    <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
    </intent-filter>
</activity>
